@import './reset';
@import './variables';
@import './fonts';
@import './colors';

*{
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    font-family: 'Lato', sans-serif, 'Roboto', sans-serif;
}



