@import './reset';
@import './variables';

// ------------- colors ----------------
$base-background: #fff;


$main-color: #448D76;
$main-color-light: #d4f7ec;
$dark-color: #340926;
$yellow-color: #fcba12;
$red-color: #AE0D7A;

$facebook-color: rgb(22, 22, 236);
$google-color: rgb(65, 5, 5); 


/*
$main-color: #096145;
$main-color-light: #d4f7ec;
$dark-color: #0e0009;
$yellow-color: #fcba12;
$red-color: #200c1a;
$grey: #aaa;
*/
/*
$grey:  rgb(22, 4, 4);
*/