@import './reset';
@import './variables';

// ------------- colors ----------------
$base-background: #fff;

$main-color: #096145;
$main-color-light: #d4f7ec;
$dark-color: #0e0009;
$yellow-color: #fcba12;
$red-color: #ae0d7a;
$grey:  rgb(77, 76, 76);