@import './reset';
@import './variables';
@import './colors';



.fas, .fab, .far{
    font-size: $base-font-size * 4;  
    transition: ease-in-out 0.2s;  

    &:hover{
        transform: scale(0.95);
    }
}

.small-icon {
    font-size: $base-font-size;
}

.medium-icon {
    font-size: $base-font-size * 2.5;
}



.fa-facebook-f {
    color: $facebook-color;
    
    &:hover{
        color: darken($color: $facebook-color, $amount: 20%)
    }
}

.fa-youtube, .fa-google-plus-square {
    color: $google-color; 
    border-radius: 5px;

    &:hover{
        color: darken($color: $google-color, $amount: 5%)
    }
}