$breakpoints: (
    very-small: (min-width: 460px),
    small: (min-width: 760px),
    medium: (min-width: 1200px),
    large: (min-width: 1900px),        
);

$base-font-size: 1.8vmin;

$base-padding: 10px;