$breakpoints: (
    very-small: (min-width: 460px),
    small: (min-width: 760px),
    medium: (min-width: 1200px),
    large: (min-width: 1900px),        
);

$base-font-size: 3vmin;

$base-padding: 1rem;
$base-margin: 2rem;

$text-shadow-black: black 4px 4px 6px;
$text-shadow-grey:  grey 4px 4px 6px;





