@import './base/base';

// ----- components --------------------------

@import './components/_slider';
@import './components/_navbar';
@import './components/map';
@import './components/galery-images';
@import './components/scroller';
@import './components/switch';
@import './components/table';


// ----- layout ------------------------------

@import './layout/footer';
@import './layout/header';
@import './layout/section';
@import './layout/contact';

// ----- utils -------------------------------

@import './utils/animations';
@import './utils/mixins';

.navbar__item__gallery{
    display: none;

    @include mq(small) {
        display: block; 
        z-index: 1;
}
}
