<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kurtyny Paskowe PCV Rewako Opole</title>
  <meta name="description" content="Wykonujemy i montujemy kurtyny paskowe PCV. Spytaj nas o ofertę - zadzwoń do nas lub napisz e-mail.Kurtyny wykonujemy z najwyższą starannością.  ">
    <meta name="kyewords" content="rewako, kurtyny paskowe PCV producent, pasy PCV, kurtyny paskowe PCV kontakt, lamele PCV, kurtyny paskowe PCV oferta">
  

</head>

<body>  
  <div class="wrapper wrapper__contact">  
    <div class="switch">
      <i class="fas fa-toggle-on switch__icon  display-off"></i>
      <i class="fas fa-toggle-off switch__icon"></i>                
    </div>
  
    <div class="navbar green">
      <a href="template.html" class="navbar__item__logo logo__green"><img src="./images/Rewako-Kurtyny_paskowe-PCV-logo.png" alt="Rewako Kurtyny Paskowe PCV - logo firmy"></a>
      <a href="template.html" class="navbar__item__logo logo__white"><img src="./images/Rewako-Kurtyny_paskowe-PCV-logo_biale.png" alt="Rewako Kurtyny Paskowe PCV - logo firmy"></a>
        <a href="strip-courtains.html" class="navbar__item ">Dobór i Montaż</a>
        <a href="sliding-courtains.html" class="navbar__item ">Kurtyny Przesuwne</a>                             
    </div>     

    <article class="main-page main-page-contact">
      <section class="main-page__section">
        <div class="contact">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40459.75374307303!2d17.965959337633937!3d50.66918786380814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471053c76212f661%3A0x4942c216dee215!2sRewako%20Kurtyny%20Paskowe%20PCV!5e0!3m2!1spl!2spl!4v1581627831999!5m2!1spl!2spl" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="">
          </iframe>
        </div>
        <div class="contact contact__form" >
          <header class="contact__form__header">
            <h6><a class="footer__main-info__item" href="tel:48510573668"><i class="fas fa-phone-volume small-icon"></i> Skontaktuj się z nami </a></h6>                
          </header>
        <div class="contact__form__body">
          <form  action="https://formspree.io/meqrwdyk"  method="POST">
              <div class="row">
                <div class="col-25">
                  <label for="name">Imię i Nazwisko</label>
                </div>
                <div class="col-75">
                  <input type="text" id="name" name="name" placeholder="Twoje imię ...">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="_replyto">E-mail</label>
                </div>
                <div class="col-75">
                  <input type="text" id="email" name="_replyto" placeholder="Twój email ...">
                 </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="message">Treść wiadomości</label>
                </div>
                <div class="col-75">
                  <textarea id="message" name="message" placeholder="Napisz tutaj.." style="height:200px"></textarea>
                </div>
              </div>
              <div class="row">
                <input type="submit" value="Wyślij">
              </div>                  
          </form>
          <p>Napisz do nas: </p><a class="footer__main-info__item" href="mailto: biuro@rewako.eu"><i class="far fa-envelope small-icon"></i> biuro@rewako.eu</a><p>Lub zadzwoń: </p>
          <a class="footer__main-info__item" href="tel:48510573668"><i class="fas fa-phone-volume small-icon"></i> 510 573-668</a>
          </div>
        </div>
      </div>  
    </section> 
  </article>
      
  
      
  <footer class="footer main-page technical-footer">
    <div class="main-page__section darken footer__social-networks">      
      <div class="main-page__section__text"><a href="https://www.youtube.com/watch?v=e-TlWAPLaMU" target="blank"><i class="fab fa-youtube medium-icon"></i></a></div>
      <div class="main-page__section__text"><a href="https://pl-pl.facebook.com/rewako.eu" target="blank"><i class="fab fa-facebook-f medium-icon"></i></a></div>
      <div class="main-page__section__text"><a href="https://www.google.pl/maps/place/Rewako+Kurtyny+Paskowe+PCV/@50.6924588,17.9492058,14.5z/data=!4m5!3m4!1s0x471053c76212f661:0x4942c216dee215!8m2!3d50.6911804!4d17.9506502" target="blank"><i class="fab fa-google-plus-square medium-icon"></i></a></div>
    </div>
    <div class="footer__main-info">     
      <div class="footer__main-info__column">             
        <p class="footer__main-info__item">Pn-Pt: 8:00-16:00</p>
        <p class="footer__main-info__item">Sb: 10:00-14:00</p>
        <p class="footer__main-info__item">Nd: Zamknięte</p>
      </div>  
      <div class="footer__main-info__column">
        <p class="footer__main-info__item">45-231 Opole</p>
        <p class="footer__main-info__item">ul. Oleska 153</p>
        <a class="footer__main-info__item" href="mailto: biuro@rewako.eu">Mail: biuro@rewako.eu</a>
        <a class="footer__main-info__item" href="tel:48510573668">Tel: 510 573-668</a>            
      </div>
      <div class="footer__main-info__column">
        <p class="footer__main-info__item footer__main-info__item__o-nas">
              Zapraszamy Państwa do kontaktu telefonicznego lub mailowego. Jesteśmy do Państwa dyspozycji w godzinach otwarcia podanych obok. Z przyjemnościoą odpowiemy na wszelkie Państwa pytania. Oferujemy pomoc na etapie doboru, montażu i użytkowania. Serdecznie zapraszamy.
        </p>
      </div> 
      <a class="footer__main-info__item card" href="mailto: waldekm999@hotmail.com">Projekt i wykonanie www: waldekm999@hotmail.com</a>     
    </div>
  </footer>
  <div class="scroller">
    <img src="./images/up.png" alt="scroller" >
  </div>

  <img class="btn-extending" style="display: none;" >
   

  
  <script src="https://kit.fontawesome.com/8696c3fad3.js" crossorigin="anonymous"></script> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177316521-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-177316521-1');
  // zapis poniżej dla rate bounce - do wywalenia jeśli zniszczy działanie skryptu
  setTimeout("_gaq.push(['_trackEvent', '10_seconds', 'read'])",10000);
</script>
  <script type="text/javascript" id="cookieinfo"
  src="//cookieinfoscript.com/js/cookieinfo.min.js" 
  data-message="Używamy plików aby poprawić Twój komfort. Kontynuując korzystanie z witryny wyrażasz zgodę na używanie przez nas plików cookie."
  data-close-text="Rozumiem!"
  data-linkmsg="Więcej informacji"
  data-moreinfo="https://ec.europa.eu/info/cookies_pl">  
  // https://cookieinfoscript.com/
  </script>
  </body>
</html>
