<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kurtyny Paskowe PCV Rewako Opole</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Roboto&display=swap&subset=latin-ext" rel="stylesheet">
  <script src="https://kit.fontawesome.com/8696c3fad3.js" crossorigin="anonymous"></script>
</head>

<body>  
  <div class="wrapper"> 
  

      <div class="switch">
        <i class="fas fa-toggle-on switch__icon  display-off"></i>
        <i class="fas fa-toggle-off switch__icon"></i>                
      </div>
    
      <div class="navbar green">
        <a href="template.html" class="navbar__item__logo logo__green"><img src="./images/Rewako-Kurtyny_paskowe-PCV-logo.svg" alt="Rewako Kurtyny Paskowe PCV - logo firmy"></a>
        <a href="template.html" class="navbar__item__logo logo__white"><img src="./images/Rewako-Kurtyny_paskowe-PCV-logo_biale.svg" alt="Rewako Kurtyny Paskowe PCV - logo firmy"></a>
          <a href="strip-courtains.html" class="navbar__item ">Dobór i Montaż</a>                          
          <a href="contact.html" class="navbar__item ">Kontakt</a>
      </div>          

  

  <article class="main-page technical-article">

    

    <header class="main-page__section">
      <h1>kurtyny przesuwne pcv</h1> 
    </header>  

    <div class="main-page__section">         
        <p class="main-page__section__text technical-smaller">Na rysunku  pokazany jest obraz kurtyny podczas jej zamknięcia. W przypadku gdy chcemy zastosować kurtynę paskową a jednocześnie mieć możliwość szybkiego jej osunięcia z przegrody stosuje się zwykle kurtyny PCV z systemem przesuwnym.
          W systemie tym  można zastosować też kotary z arkuszy PCV - tam gdzie proiorytetem jest większa szczelność przegrody jednocześnie istnieje potrzeba swobodnego ruchu ludzi. Zakładka uszczelnia kotarę umożliwiając jednocześnie swobodne przechodzenie pomiędzy oddzielanymi strefami.  Kurtyna posiada blokadę na-click zapewniająca jej stabilne położenie.  Wyprowadzenie z blokady jest łatwe - czynimy to za pomoca lekkiego szarpnięcia.</p>      
        <div class="main-page__section__img">
          <img src="./images/technical/kurtyna-PCV-przesuwna-1.png" alt="Rewako-kurtyna PCV przesuwna"/> 
        </div>      
    </div>

    <div class="main-page__section reversed">        
        <p class="main-page__section__text technical-smaller">Na czas potrzebny na przejazd wózkiem lub autem kotarę taką z łatwością otwieramy i równie złatwo przywracamy ją do normalnego zawieszenia. Dzięki zastosowaniu najwyższej jakości materiałów (prowadnic i wózków) całość wykonuje się ręcznie.
          Na rysunku po lewej widoczny jest sposób otwarcia pełnego kurtyny dzięki rozunięciu jej w dwie strony.  Umożliwia on pełne wykorzystanie przestrzeni otworu jednak nalezy mieć na uwadze, że możliwy jest tylko tam gdzie do dyspozycji mamy wolne przestrzenie z obu stron bramy.
          Jest to rozwiązanie które wymaga natomiast umieszczenia tylko jednej prowadnicy co pozwala zamontować kurtyny w jednej osi i uniknąć w ten sposób pionowej przerwy na zbiegu dwóch skrzydeł.obok jest tu równa szerokości bramy.</p>         
        <div class="main-page__section__img">
            <img src="./images/technical/kurtyna-PCV-przesuwna-2.png" alt="Rewako-dlaczego my"/>
          </div>
    </div>

    <div class="main-page__section">
        <p class="main-page__section__text technical-smaller">Tam gdzie taką przestrzenią dysponujemy tylko z jednej strony, możemy zainstalować system przeuwny w którym obie części kurtyny przeuwane będą w jedną stronę. Przykład takiego otwarcia pokazujemy na rysunku po lewej. Możliwe jest zamontowanie całej kurtyny na jednej prowadnicy i jej zsunięcie w całości lub montaż dwóch segmentów na dwóch prowadnicach i ich zsunięcie na zakładkę. Niewątpliwą zaletą zwłaszcza tego drugiego rozwiązania jest fakt,iż przestrzeń potrzebna do rozsunięcia kurtyny jest znacznie mniejsza. W tym przypadku cała kurtyna również jest zamontowana na jedej prowadnicy co daje korzyści jak w przypadku powyżej - jednak przestrzeń obok jest tu równa szerokości bramy. </p>
        <div class="main-page__section__img">
          <img src="./images/technical/kurtyna-PCV-przesuwna-4.png" alt="Rewako-szybka dostawa"/>
        </div>
    </div>  
    <div class="main-page__section reversed ">        
      <p class="main-page__section__text technical-smaller">Jeśli nie dysponujemy miejscem na pełne otwarcie kurtyny lub gdy po prostu nie ma takiej potrzeby w sytuacji gdy otwarcie połowy światła otworu nam wystarczy polecamy zastosowanie systemu przesuwnego dzięki któremy kurtyna PCV zsuwana jest do jednej strony bramy.
        Dzieki takiemu rozwiązaniu do pracy kurtyny i systemu nie potrzebujemy przestrzeni poza światłem bramy, umożliwiamy za to przejazd w ok 50 % szerokości.
        To rozwiązanie przewiduje zastosowanie dwóch równoległych prowadnic i można to rozwiązanie skompilowac z poprzednim tzn. zsunąć kurtynę na zakładkę poza światło bramy w jedną stronę.
        W ten sposób wystarczy nam wolna przestrzeń z jednej strony bramy o szerokości ok 50 % szerokości bramy oraz uzyskujemy po otwarciu odkrycie całości przejazdu. </p>         
      <div class="main-page__section__img">
          <img src="./images/technical/kurtyna-PCV-przesuwna-3.png" alt="Rewako-dlaczego my"/>
        </div>
  </div>  
  

    
</article>
    
 

  <footer class="footer main-page technical-footer">
    <div class="main-page__section darken footer__social-networks">      
      <div class="main-page__section__text"><a href="https://www.youtube.com/watch?v=e-TlWAPLaMU" target="blank"><i class="fab fa-youtube medium-icon"></i></a></div>
      <div class="main-page__section__text"><a href="https://pl-pl.facebook.com/rewako.eu" target="blank"><i class="fab fa-facebook-f medium-icon"></i></a></div>
      <div class="main-page__section__text"><a href="https://www.google.pl/maps/place/Rewako+Kurtyny+Paskowe+PCV/@50.6924588,17.9492058,14.5z/data=!4m5!3m4!1s0x471053c76212f661:0x4942c216dee215!8m2!3d50.6911804!4d17.9506502" target="blank"><i class="fab fa-google-plus-square medium-icon"></i></a></div>
     </div>
     <div class="footer__main-info">    
      <div class="footer__main-info__column">         
        <p class="footer__main-info__item">Pn-Pt: 8:00-16:00</p>
        <p class="footer__main-info__item">Sb: 10:00-14:00</p>
        <p class="footer__main-info__item">Nd: Zamknięte</p>
      </div>   
      <div class="footer__main-info__column">
        <p class="footer__main-info__item">45-231 Opole</p>
        <p class="footer__main-info__item">ul. Oleska 153</p>
        <a class="footer__main-info__item" href="mailto: biuro@rewako.eu"><i class="far fa-envelope small-icon"></i> biuro@rewako.eu</a>
        <a class="footer__main-info__item" href="tel:48510573668"><i class="fas fa-phone-volume small-icon"></i> 510 573-668</a>        
      </div>       
       <div class="footer__main-info__column">
        <p class="footer__main-info__item footer__main-info__item__o-nas">
          Zapraszamy Państwa do kontaktu telefonicznego lub mailowego. Jesteśmy do Państwa dyspozycji w godzinach otwarcia podanych obok. Z przyjemnościoą odpowiemy na wszelkie Państwa pytania. Oferujemy pomoc na etapie doboru, montażu i użytkowania. Serdecznie zapraszamy.
        </p>
       </div>      
     </div>
  </footer>

  <div class="scroller">
    <img src="./images/up.png" alt="scroller" >
  </div>

</div>

</div>

<script type="text/javascript" id="cookieinfo"
  src="//cookieinfoscript.com/js/cookieinfo.min.js" 
  data-message="Używamy plików aby poprawić Twój komfort. Kontynuując korzystanie z witryny wyrażasz zgodę na używanie przez nas plików cookie."
  data-close-text="Rozumiem!"
  data-linkmsg="Więcej informacji"
  data-moreinfo="https://ec.europa.eu/info/cookies_pl">  
  // https://cookieinfoscript.com/
</script>
</body>
</body>


</html>
