<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kurtyny Paskowe PCV Rewako</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Roboto&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>  
  <div class="wrapper">
  <section class="main-page">
    <header="main-page__header">
      <div class="navbar">
          <p class="navbar__item">Logo</p>
          <p class="navbar__item">Dobór</p>
          <p class="navbar__item">Montaż</p>
          <p class="navbar__item">Nasze Realizacje</p>
          <p class="navbar__item">Kontakt</p>
      </div>            
    <div class="main-page__header__slider">
      <div class="main-page__header__slider__img" >     
        <img src="./images/kurtyna-paskowa-PCV-przesuwna.jpg" alt="kurtyna-paskowa-PCV-przesuwna">
      </div> 
      <p class="main-page__header__slider__slogan">
        W tym miejscu pojawia się pierwsze hasło
      </p>
    </div>
    <div class="main-page__header__faker"></div>
  </header>  
    <article class="main-page__article">
        <p class="main-page__article__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices aliquet diam. Cras eget sem eu purus mollis venenatis in non turpis. Pellentesque faucibus sem urna, nec tempus sem feugiat vel. Ut interdum laoreet ex. Etiam accumsan dui vitae magna dapibus accumsan. In hac habitasse platea dictumst. Integer lacinia mi leo, tincidunt blandit erat luctus at. Sed ultricies volutpat placerat. Nullam suscipit nisl at lacinia aliquam. Vivamus sit amet elit sit amet erat sodales tempor sed ut tellus. Quisque sit amet viverra justo</p>
        <div class="main-page__article__img">
          <img src="./images/zimowy.jpg" alt="Rewako-dlaczego kurtyny PCV"/>        
        </div>
    </article>
    <article class="main-page__article reversed">        
        <p class="main-page__article__text">Aliquam eu eros malesuada, iaculis diam sed, interdum nulla. Nam fermentum faucibus nisi, quis molestie felis finibus a. Sed sagittis euismod enim ac dictum. Nam eget quam id neque semper lobortis a vitae erat. Nunc sed suscipit ante. Pellentesque vulputate accumsan augue et blandit. Nunc a orci id ex finibus ultrices. Vivamus eros dui, pretium eget dolor id, pellentesque eleifend mi. Nulla fringilla maximus metus at efficitur. Etiam tempor pellentesque odio in consectetur. In non mi nec purus tempor molestie vitae id sapien. Nam sed ipsum non libero maximus sodales. Donec et diam sed urna euismod hendrerit. </p>         
        <div class="main-page__article__img">
            <img src="./images/tir_rozladunek.jpg" alt="Rewako-dlaczego my"/>
          </div>
    </article>
    <article class="main-page__article">
        <p class="main-page__article__text">Praesent mollis eros id magna sodales elementum. Mauris sodales sapien vel mauris malesuada, sit amet semper neque fermentum. Mauris semper a sapien non vulputate. Ut dui ex, viverra eget ligula et, tincidunt aliquam felis. Suspendisse molestie imperdiet pellentesque. Nunc et pellentesque odio. Fusce sed libero tellus. Aliquam sem nunc, interdum ut massa eget, accumsan mattis tellus. </p>
        <div class="main-page__article__img">
          <img src="./images/kurier_na_bialym.jpg" alt="Rewako-szybka dostawa"/>
        </div>
    </article>    
  </section>

  <footer class="footer">
     <div class="footer__social-networks">
      
     </div>
     <div class="footer__main-info">
       
     </div>
  </footer>
</div>
</body>

</html>
