<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikacja</title>
</head>

<body>  
  <div class="wrapper">
  <section class="main-page">
    <header="main-page__header">
      <div class="main-page__header__navbar">
          Tu będzie logo i menu
      </div>            
    <div class="main-page__header__slider">      
      <img class="main-page__header__slider__img" 
      src="./images/kurtyna-paskowa-PCV-przesuwna.jpg" alt="kurtyna-paskowa-PCV-przesuwna">
    </div>
  </header>
    <article>
        <p>Tu bedzie sekcja dlaczego potrzebujesz kurtyn</p>
        <img src="./images/pasy-PCV-montaz.png" alt="mysz"/>
        
    </article>
    <article>
        Tu bedzie sekcja co dają kurtyny  
    </article>
    <article>
        Tu będzie sekcja dlaczego u nas ...
    </article>    
  </section>
  <footer>
      Footer z podstawowymi namiarami
  </footer>
</div>
</body>

</html>
