<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikacja</title>
</head>

<body>  
  <section>
    <header>
      Tu będzie logo i menu
    </header>  
    <article>
      Tu bedzie slajder
      <img src="./images/jaguar.jpg" alt="jaguar">
    </article>
    <article>
        Tu bedzie sekcja dlaczego potrzebujesz kurtyn
        <img src="./images/mouse.jpg" alt="mysz"/>
        
    </article>
    <article>
        Tu bedzie sekcja co dają kurtyny  
    </article>
    <article>
        Tu będzie sekcja dlaczego u nas ...
    </article>    
  </section>
  <footer>
      Footer z podstawowymi namiarami
  </footer>
</body>

</html>
