@import '../base/base';



@mixin mq($breakpoint) {
    $size: map-get($map: $breakpoints, $key: $breakpoint);
        @if($size) {
            @media #{$size} {
                @content;
            }
        }
        @else {
            @error '"#{$breakpoint}" - Nie ma takiej wielkości';
        }
}

@mixin border($width, $color, $rounding) {
    border: $width solid darken($color: $color, $amount: 10%);
            border-radius: $rounding;
}

@mixin imageSize($x, $y) {
    z-index: 10;
    box-shadow: $box-shadow-black;
    transform: scale(2,2) translate($x, $y);    
}