$bgcolor: white;
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgcolor;
  background-image: url('../images/photo.jpg');
  color: black;
  height: 80px;
}
