@import '../base/base';
@import '../utils/mixins';


.navbar {
    width: 100%;
    position: fixed;      
    top: 0;
    padding: $base-padding * 0.1;
    min-height: 2rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: 1s;    
    
    &__item {
        padding: $base-padding * 0.1  $base-padding  * 2 ;          
        text-decoration: none; 
        color: white;
        font-size: $base-font-size *1.5;       
        text-shadow: $text-shadow-black;             
    }    

    @include mq(small) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        

        &__item {             
            font-size: $base-font-size ;   

            &__logo {
                margin-right: auto; 
                
            }        
        }

        
    }
}

.navbar__item__logo {
    max-width: 250px;
    max-height: 170px;

    &>img {
        height: 100%;
        width: 100%;
    }
}