@import '../base/base';

.footer {
    width: 100%;

    &__social-networks {
        height: 35vh;
        background-color: $main-color;
    }


    &__main-info {
        height: 45vh;
        background-color: $dark-color;
}
}

