@import '../base/base';

.footer {
    width: 100%;
    margin-top: 800px;
    z-index: 1;

    &__social-networks { 
        
        width: 100%;      
        min-height: 35vh;        
        background-color: $main-color;        
    }


    &__main-info {                
        background-color: $dark-color;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: $base-padding $base-padding;

            &__column {
                display: flex;
                flex-direction: column;
                align-items: center;            
            }

            &__item {
                text-decoration: none;
                color: white;
                margin: $base-margin/2 0;

                &:hover{
                    color: $main-color;
                }

                &__o-nas {
                    text-align: justify;
                    letter-spacing: 0.1em;
                    line-height: 1.25em;
                }
            }
        
        @include mq(medium) {
            height: 45vh;
            flex-direction: row;                       
            justify-content: space-evenly;

            &__column {
                width: 33%;
            }
        }
}
}

.technical-footer{
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    z-index: -200;
}

.card{
    color: rgb(147, 212, 187);
    position: fixed;
    bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}
