@import '../base/base';
@import '../utils/mixins';


.main-page__header {                 
    

    &__faker {
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        opacity: 0.3;
        z-index: 1;
        transition: opacity ease-out 2s; 
        background-image: linear-gradient(to bottom right, $main-color, lighten($main-color, 60));      
    }

    &__slider {
    width: 100%;
    height: 100vh;
    position: fixed;    
    top: 0; 
    z-index: -10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);

    @include mq(medium) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6,1fr);        
    }

        &__img {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            opacity: 0.4;
           

            & > img {
                width: 100%;
                height: 100%;                
            }

        }

        &__slogan {   
                display: flex;
                flex-direction: column; 
                &>i{
                    display: flex;
                    justify-content: center;
                }                                
                transition: 1s;                                
                font-size: $base-font-size * 3;                              
                grid-column: 2 / 6;
                grid-row: 5/ 7;
                color: $dark-color;
                font-weight: bold;
                text-shadow: $text-shadow-black;

                font-weight: bold;  
                z-index: 2;  
                @include mq(small) {
                    font-size: 6vw;
                    grid-column: 2 / 6;
                    grid-row: 5 / 6;
                    }   
                @include mq(medium) {
                    font-size: 6vw;
                    grid-column: 3 / 11;
                    grid-row: 3 / 4;
                    }      
        }
    }
}