@import '../base/base';
@import '../utils/mixins';




.main-page {
    width: 100%;     
    display: flex;
    flex-direction: column;
    
    background-color: $base-background;
    

    &__section {                
        margin: 0;
        font-size: $base-font-size;
        padding: $base-padding;
        text-align: justify;        
        display: flex;
        flex-direction: column;        

        @include mq(medium) {
            
            padding: $base-padding  $base-padding *10 $base-padding *6;
            flex-direction: row;
            align-items: flex-end;
                             
        }
                     

            &__text {
                padding: $base-padding;   
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;

                flex: 2 2;
            }

            &__img {
                padding: $base-padding;
                flex: 1 1;
                align-self: center;
               

                & > img {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
            }
    }  
    
    &__gallery {
        height: 80vh;
        background-color: white;
        display: none;        

        @include mq(small) {
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            grid-template-rows: repeat(12,1fr);
            padding: $base-padding * 2;
        }
        
    }

    .reversed {
        @include mq(medium) {
            flex-direction: row-reverse;            
        }
    }

    .darken {        
        color: $main-color-light;           
        background-image: linear-gradient(to bottom right, $main-color, lighten($main-color, 20));        
        
        &>h2{
            color: $main-color-light;
            text-shadow: $text-shadow-black;
            width: 70%;
            margin-left: auto;
            margin-right: auto; 
            margin-bottom: 20px;
        }
    } 
    .icon-text {
        display: flex;
        position: relative;
        flex-direction: column;   
        text-align: center;             
        transition: ease-out 0.5s;    
        
        &__text{
            margin-top: $base-margin;
        }      
       
    }

    .text-hidden{        
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;    
        text-align: justify;   
        font-size: $base-font-size * 0.6;        
        color: $main-color; 
        transform: rotateY(180deg);
        transition: ease-in 0.5s;  
        z-index: -10;         
                        
    }

    .extend{

        font-size: $base-font-size * 0.7;
        color: $main-color-light;
        text-shadow: $text-shadow-grey;
        

        &__icon{
            padding: $base-padding;        
           @include border(4px, $main-color, 10px);
           text-shadow: $text-shadow-black;
           transition: 0.5s;
           box-shadow: $box-shadow-black;
           margin-top: $base-margin * 0.25;           

           &:hover{                       
            text-shadow: none;
            box-shadow: none; 
            font-weight: bold;
            background-color: lighten($color: $main-color, $amount: 10%);
            @include border(4px, $main-color, 10px);
            cursor: pointer;
           }
        }
    }
    
    
}

.rotation {
    position: relative;
    text-align: center;
    
}



div.rotation:hover div {
    cursor: pointer;
            transform: rotateY(180deg);                                
            /*
            color: $main-color;   
            zmiana 09.03
            */
            
}

div.rotation:hover span {            
            background-color: $main-color-light;                      
            z-index: 10;
            @include border(3px, $main-color-light, 20px);            
            box-shadow: $box-shadow-black;
            color:$dark-color
           
}

.lighten{
    
    color: $dark-color;
    background-image: linear-gradient(to bottom right, $main-color-light, lighten($main-color, 50));
}


.extended-no{  
    transition: height 1s;
    height: 0px; 
    &>div.main-page__section{                
        height: 100%;
        width: 100%;   
        overflow: hidden; 
        &>div.main-page__section__text{
           &>i{
            height: 100%;
            width: 100%;   
            overflow: hidden; 
           }
        }      
    } 
}
.extended{
    transition:  1s;
    height: 500px;
}
.btn-extending{
    display: flex;
    flex-direction: column-reverse;
    height: 200px;
    width: 100px;    
}

.arrow{
    transition: ease-in-out 0.5s;
}

.rotated{    
    transform: rotate(180deg);       
}

.technical-article{
    margin-bottom: 800px;
    
}

.technical-smaller{
    font-size: $base-font-size * 0.85;
}









