@import '../base/base';
@import '../utils/mixins';



.main-page {
    width: 100%;     
    display: flex;
    flex-direction: column;

    &__article {        
        background-color: $base-background;
        margin: 0;
        font-size: $base-font-size;
        padding: $base-padding ;
        text-align: justify; 
        display: flex;
        flex-direction: column;

        @include mq(medium) {
            padding: $base-padding *3;
            flex-direction: row;            
        }
                     

            &__text {
                padding: $base-padding;   
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 2 2;
            }

            &__img {
                padding: $base-padding;
                flex: 1 1;

                & > img {
                    width: 100%;
                    height: auto;
                }
            }
    }    

    .reversed {
        @include mq(medium) {
            flex-direction: row-reverse;            
        }
    }

        .darken {        
        background-color: $main-color;
              
     }   

    
}


